{% extends 'app_hope/base.html'%}
{% block content %}

{% load crispy_forms_tags%}
<!-- Página para definir nova senha -->
<h1>Alterar senha</h1>
<div class="conta">
<p class="center">Por favor escreva uma nova senha.</p>
<form method="POST">
	{% csrf_token %}
	<div id="div_id_new_password1" class="ctrlHolder">
		<label for="id_new_password1" class="requiredField">
			Nova senha:
		 	<span class="asteriskField">*</span>
		</label>
		<br>
		<p class="meio"><input type="password" name="new_password1" autocomplete="new-password" class="textinput textInput" required id="id_new_password1"></p>
		<div id="hint_id_new_password1" class="formHint">
			<p>Sua senha não pode ser muito similar a outra informação pessoal sua</p>
			<p>Sua senha deve conter ao menos 8 caracteres</p>
			<p>Sua senha não pode ser uma senha usada de forma comum </p>
			<p>Sua senha não pode ser inteiramente numérica</p>
			<p>Não haverá redefinição de senha até ela atender a todos os critérios</p>
		
		</div>
	</div>
	<div id="div_id_new_password2" class="ctrlHolder">
		<label for="id_new_password2" class="requiredField">
			Confirme a nova senha:
		 	<span class="asteriskField">*</span>
		</label>
		<br>
		<p class="meio"><input type="password" name="new_password2" autocomplete="new-password" class="textinput textInput" required id="id_new_password2"></p>
		<!-- abaixo, adição de formulário padrão que foi substituído -->	
		<!--{{ form|crispy }}-->
	<button type="submit">Redefinir senha</button>
</form>
</div>
{% endblock %}
