{% extends 'app_hope/base.html'%}
{% block content %}
{% load crispy_forms_tags %}

<!--Página para usuário escrever seu email para enviarmos link -->
<h1>Redefinir senha</h1>
<div class="conta">
<p class="center">Esqueceu sua senha? Escreva seu endereço de email abaixo e iremos enviar instruções para definir uma nova.</p>
<form method="POST" class="uniForm"> 
	{% csrf_token %}
	<p<label for="id_email">Email:</label></p>
	<p class="meio"><input type="text" name="email" autocomplete="email" max_length="254" required id="id_email"></p>
	<!--{{ form.as_table }}-->
	<br>
	<!-- {{ password_reset_form|crispy }}-->
	<button type="submit">Enviar email</button>
</form>
</div>

{% endblock %}
